/*********************************
**** COLORS
*********************************/
$color-gray-1: #CED7DB;
$color-gray-2: #778F9B;
$color-gray-3: #EDF1F3;
$color-white-1: #FFFFFF;
$color-white-2: #E6F7FF;
$color-primary-3: #9254DE;
$color-primary-2: #40A9FF;
$color-primary-1: #FA8C16;
$color-primary-1a: #FAC516;
$color-black-1: #000000;
$color-green-1: #54DEC2;
$color-green-2: #48EB58;
$color-green-3: #209424;
$color-red-1: #FA1616;

/*********************************
**** GRID WIDTH
*********************************/
$grid-width: 114rem;

/*********************************
**** FONT
*********************************/
// Font Family
$font-family-1: 'Secular One', sans-serif;
$font-family-2: 'Roboto Mono', monospace;
$font-family-3: 'Lato', sans-serif;
// Font Size
$default-font-size: 1.6rem;
$smaller-font-size: 1.2rem;
$small-font-size: 1.5rem;
$medium-font-size: 1.8rem;
$big-font-size: 2rem;
$bigger-font-size: 2.4rem;
$biggest-font-size: 2.8rem;

/* Gutter */
/* Small around 0 to 5rem */
$gutter-small-1: 2rem;
$gutter-small-2: 4rem;

/* Big around 5rem to 10rem */
$gutter-big-1: 5rem;