.footer {
    background-image: 
    linear-gradient(
        to right bottom,
        rgba($color-primary-3, 1),
        rgba($color-primary-2, 1)
    );
    padding: 6rem 0 6rem 0;
}
.footer-copyright {
    color: $color-white-1;
    font-size: $default-font-size;
    text-align: center;
}