.stacked-photo {
    position: relative;
    min-height: 50rem;
    width: 100%;
    @include mediaQuery(viewport730) { min-height: 40rem; }
    @include mediaQuery(viewport700) { min-height: 39rem; }    
    @include mediaQuery(viewport600) { min-height: 42rem; }
    @include mediaQuery(viewport550) { min-height: 41rem; }
    @include mediaQuery(viewport500) { min-height: 40rem; }
    @include mediaQuery(viewport450) { min-height: 38rem; }
    @include mediaQuery(viewport370) { min-height: 34rem; }
    @include mediaQuery(viewport360) { min-height: 33rem; }
    @include mediaQuery(viewport350) { min-height: 30rem; }
    @include mediaQuery(viewport300) { min-height: 27rem; }
    &__photo {
        width: 60%;
        position: absolute;
        transition: all .2s;   
        @include mediaQuery(viewport900) {
            width: 68%;
        }
        &--1 {
            left: 0;
            top: 0;
            z-index: 10;
            opacity: 70%;
        }
        &--2 {
            left: 10rem;
            top: 9rem;
            z-index: 40;
            box-shadow: 0 1rem 2rem rgba($color-black-1, .5);
            @include mediaQuery(viewport980) { left: 9rem; top: 9rem; }
            @include mediaQuery(viewport900) { left: 6rem; top: 7rem; }
            @include mediaQuery(viewport370) { left: 5rem; top: 6rem; }
            @include mediaQuery(viewport350) { left: 4rem; top: 5rem; }
        }
        &--3 {
            left: 20rem;
            top: 16rem;
            z-index: 30;
            opacity: 70%;
            @include mediaQuery(viewport980) { left: 19rem; top: 16rem; }
            @include mediaQuery(viewport900) { left: 12rem; top: 13rem; }         
            @include mediaQuery(viewport370) { left: 10rem; top: 11rem; }         
            @include mediaQuery(viewport350) { left: 8rem; top: 9rem; }         
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 1rem 2rem rgba($color-black-1, .5);
            z-index: 50;
            opacity: 100%;
        }
    }
    &:hover &__photo:not(:hover) {
        transform: scale(.9);
        box-shadow: none;
        opacity: 70%;
    }
}